body {
    
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    
    
}

p {
    margin: 0;
}
.container {
    display:grid;
    grid-template-columns: 350px 5fr ;
    grid-template-rows: 200px 80px 800px;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100%;
     
}



.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    background-color: #fbbf24;
    display: grid;
    grid-template-rows: 75px 525px 420px;
    row-gap: 30px;
    
}



.sideBarGridTitle{
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 100px 250px ;


}

.titleIconCell1{

    margin-left:35px;
    display: grid;
    align-items: center;
    justify-items: center;
}


.titleIconCell2{

    margin-left:30px;
    display: grid;
    align-items: center;
}




.titleIconCellSize{
    height:70px;
    width:70px;

   
}

.sideBarGridTitle h2{
   margin-right: 150px;
   font-size: 32px;
   color:#fffbeb;
}

.sideBarGridMenu{
    grid-row: 2 / 3;
    display: grid;
   
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 80px 1fr 1fr 1fr;
    row-gap:10px;
}

.sideBarGridCell{

    

    display: grid;
    grid-template-columns: 100px 250px;
    height: 50px;

}

.sideBarBottom{
    grid-row: 3 / 4;
    
}


.iconCell1{

    display: grid;
    align-items: center;
    justify-items: center;
    margin-left: 40px;
    
   
}

.iconCell2{
    display: grid;
    align-items: center;
    margin-left:30px;
    
}



.iconCellSize{
    height: 40px;
    width: 40px;

}

.sideBarGridCell p{
    font-size: 24px;
    font-weight: 800;
    color:#fffbeb;
}




















.header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display:grid;
   
    grid-template-rows: 80px 1fr;
    background-color: #fef3c7;
}

.header .top{
    grid-row: 1 / 2;
 
    margin-left: 50px; 
    margin-right: 50px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    

}

.top .searchBar{
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 50px 9fr ;
    column-gap:5px;

}




.searchBar .infoIconsGrid1{
    display: grid;
    align-items: center;
    justify-items: center;

}

.searchBar .infoIconsGrid2{
    display: grid;
    align-items: center;
   
}

.infoIconsGrid1{
    display: grid;
    align-items: center;
    
    
}



form {
   
    
   
    display: inline-block;
  }
 
  
  input[type="text"] {
    font-size: 1em;
    padding: 0.25em;
    border: 1px solid #ccc;
    border-radius: 15px;
    width:750px;
    position: relative;
    height: 25px;
    display: inline-block;
   
    
   
    
  }
  
  .custom-button {
    background-color: transparent;
    position: relative;

    border:none;
    
  }
 
  
  .custom-button .icon {
    width: 30px;
    height: 30px;  
  }


  .top .infoIcons{
    grid-column: 2 / 3;
    position: relative;
   
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-top: 10px;
    
   
   
}
  
  .custom-button2 {
    background-color: transparent;
   
    border: none;
    margin-left: 200px;
    display: inline-block;
    position: relative;
    
  }

  .custom-button2 .icon2{
    width: 30px;
    height: 30px;
   

  
  }

  .custom-button3 {
    display: inline-block;
    color: transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: none;
    
    
    

  
  
  }

  .custom-button3 .icon3{
    border-radius: 50%;
    width: 50px;
    height: 50px;
   
   

  }

  .infoIcons p{
    
    display: inline-block;
   
    font-size: 24px;
    color: black;
    padding: 0;
    white-space: nowrap;
    position: relative;
    font-weight: 800;
    margin-left:6px;
   
  }
 
  
  .header .bottom{
    grid-row: 2 / 3;
   
    display:grid;
    grid-template-columns: 5fr 3fr;
    margin-left: 37px; 
    margin-right: 37px;
  
    

}

   .bottom .userinfo {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 120px 2fr 2fr;
   
 
   }

   .userinfo .userInfoPicture{
    grid-column: 1 / 2;
    display: grid;
    align-items: center;
    
   }

   .userinfo .profPicture {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    border:none;
    position: relative;
    left:20px;
 
    
   
   }

   .userinfo .userInfoName{
    grid-column: 2 / 3;
    display: grid;
    align-items: center;
   }

   .userHi{
    display: inline-block;
    font-size: 18px;
    position: relative;
    top:5px;
 
    margin: 0;
    line-height: 0;
    
  
   

   }

    .userName {
    display: inline-block;
    position: relative;
   
    bottom:20px;
    font-size: 32px;
    font-weight: 800;
    margin: 0;
    line-height: 0;
   
    

   }

   .userinfo .userInfoSpace{
    grid-column: 3 / 4;
   }

   .bottom .buttons{
    grid-column: 2 / 3;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    place-items: center;
   
    
   }

   .buttons button{
    background-color:  #fbbf24;
    border-radius: 30px;
    color:#fffbeb;
    border: none;
    width: 115px;
    height: 45px;
    font-size: 18px;
  
   }

   .buttons .button1{
    grid-column: 1 / 2;
   
   
    
   }

   .buttons .button2{
    grid-column: 2 / 3;

   }

   .buttons .button3{
    grid-column: 3 / 4;

   }

.grid-title{
    display: grid;
    grid-template-columns: 10fr 3fr;
    background-color: #fffbeb;
    height: 80px;
    border:none;
    margin: 0;
    padding: 0;

    
    
    
}

.grid-title h2{
    margin-left: 30px;
    margin-top: 40px;
    font-size:24px;
    font-weight:800;
    border:none;
    
}
   
.main {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: 10fr 3fr;
    background-color: #fffbeb;
    border:none;
   
    

}


.main .headers1{
    display: inline;
    margin: 0;
    
    position:relative;
    bottom:700px;
    left: 35px;
    font-size: 24px;
    font-weight: 800;
    

}


.main .headers2{
    display: inline;
    margin: 0;
    
    position:relative;
    bottom:700px;
    left: 30px;
    font-size: 24px;
    font-weight: 800;
    

}

.main .headers3{
    display: inline;
    margin: 0;
    
    position:relative;
    bottom:400px;
    left: 1250px;
    font-size: 24px;
    font-weight: 800;
    

}




.main .projects {
    grid-column: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 220.3px 220.3px 220.3px ;
    
    gap: 25px;
    row-gap: 30px;
    margin-left:25px;
}

.projects .card {
    
    height: 220.3px;
    
   
    background-color: #fef3c7;
    display: grid;
    grid-template-columns: 1fr 12fr; 
    grid-template-rows: 1fr;
    border-radius: 10px;

    
    
  }

.card .sideCard {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background: #d97706;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  
   

}

.card .mainContent {
    grid-column: 2 / 3;
    display: grid;
  
    grid-auto-rows: min-content;
    margin-right: 35px;
    margin-left: 35px;
    gap:10px;
}

.mainContent .mainText{
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    font-size: 16px;
    height: 145px;
    gap:5px;
   
}


    .mainText   h2{
        margin:0;
    }
    

    .mainText   p{
        margin: 0;
        opacity: 0.8;
    }

    .mainText .title{
    
        margin-top: 25px;
    }

    





.mainContent .mainIcon{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 9fr 1fr 1fr 1fr;
    
    

}




.mainIcon .cardButton{
    display: inline-block;
    color: transparent;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    border: none;
   
    
    

}

.cardIcon{
    height: 30px;
   
   
    
   
        
}

.main .mainSide{
    grid-column : 2 / 3;
    display: grid;
    grid-template-rows: 300px 135px 275px;
    grid-template-columns: 1fr;
    
 
    
}

.mainSide .announcements{
    grid-row: 1 / 2;
    grid-column : 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
 
    height: 300px;
    margin-left: 25px;
    margin-right: 25px;
    background-color: #fef3c7;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    padding-bottom: 20px;
   
  
}





.announcementsDescription{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden;
    position: relative;   
    gap: 5px;
   
   
    
}

.announcementsDescription2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    font-size: 12px;
    margin-left: 25px;
    margin-right: 25px;
    overflow: hidden;
    position: relative;   
    gap: 5px;
   
    
}

.announcementsDescription::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: black;
    opacity: 0.3;
}





.announcementsDescription p{
   margin: 0;
   opacity: 0.8;
   margin-left: 2px;
  
}

.announcementsDescription h2{

   margin: 0;
   position: relative;
   top:30px;
   
   margin-left: 2px;
   

}


.announcementsDescription2 p{
    margin: 0;
    opacity: 0.8;
    margin-left: 2px;
   
 }
 
 .announcementsDescription2 h2{
 
    margin: 0;
    position: relative;
    top:30px;
    
    margin-left: 2px;
    
 
 }
 
 .trending-title{
    grid-row: 2 / 3;
 }
 
 .trending-title h2{
    margin-top:96px;
    margin-left: 30px;
    font-size: 24px;
    font-weight: 800;

 }

.main .trending{
    grid-row: 3/ 4;
    grid-column : 1 / 2;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 3fr 5fr;
    height: 275px;
    
    
 
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    
    border-radius: 10px;
    background-color: #fef3c7;

    padding-bottom: 10px;
    

   
  
  
    

}

.trendingInfo{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
    position: relative;
    gap:18px;
   

}


.trending h4{
    margin: 0;
    position: relative;
    top:25px;
    
   
  
}

.trending p{
    margin: 0;
    position: relative;
    opacity: 0.8;
    
    
}

.trendingIcons{
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-items: center;
    

    grid-column: 1 / 2;

}

.trendingIcons .icons{

    border-radius: 50%;
    width: 50px;
    height: 50px;
   
}

.trend{
    display: inline;
    position: relative;
    bottom:475px;
    left: 25px;
    font-size: 28px;
    font-weight: 500;
}




  